.leaflet-marker-icon-wrapper {
	position: absolute
}

.leaflet-marker-iconlabel {
	-webkit-border-radius: 7px;
	border-radius: 7px;
	display: block;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	white-space: nowrap;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
	width: 60px;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 6px;
	/* [disabled]background-color: #333; */
	/* [disabled]margin-top: 100px; 
	font-family: 'Caudex', serif;*/
	font-size: 13px;
	line-height: 1.5;
	color: #FFF;
}
