@charset "UTF-8";
.feature {
  width: 48.5%;
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;
  float: left;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin: 1% 1% 0 1%; 
	min-height: 360px;
}
.feature-title {
  position: absolute;
  bottom: 30px;
  
  display: block;
  font-size: 1em;
  color: #ffffff; /* width: 100%; */ margin: 0 10%;
  text-shadow: 0 0 2px #000000;
 
}
.feature-description {
  color: #ffffff;
  font-size: 1.5em;
  margin: 40px;
  position: absolute;
  bottom: 10px;
}
.feature-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 1%;
}
.feature-row .feature:nth-of-type(odd) {
  margin-top: 1%;
  margin-right: 1%;
  margin-bottom: 0;
  margin-left: 1%;
}
.feature-row .feature:nth-of-type(even) {
  margin-top: 1%;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.feature h2 {
  font-size: 1.4em;
  margin: 0;
}
.feature p {
  font-size: 1.1em;
  margin-top: .5em;
  font-family: 'Paradigm';
}
.v1 {
  background-image: url(../img/locations/vandgels/1.jpg);
}
.v2 {
  background-image: url(../img/locations/vandgels/2.jpg);
}
.v3 {
  background-image: url(../img/locations/vandgels/3.jpg);
}
.v4 {
  background-image: url(../img/locations/vandgels/4.jpg);
}
.v5 {
  background-image: url(../img/locations/vandgels/5.jpg);
}
.v6 {
  background-image: url(../img/locations/vandgels/6.jpg);
}
.b1 {
  background-image: url(../img/locations/brightridge/1.jpg);
}
.b2 {
  background-image: url(../img/locations/brightridge/2.jpg);
}
.b3 {
  background-image: url(../img/locations/brightridge/3.jpg);
}
.b4 {
  background-image: url(../img/locations/brightridge/4.jpg);
}
.b5 {
  background-image: url(../img/locations/brightridge/5.jpg);
}
.b6 {
  background-image: url(../img/locations/brightridge/6.jpg);
}
.w1 {
  background-image: url(../img/locations/wilderless/1.jpg);
}
.w2 {
  background-image: url(../img/locations/wilderless/2.jpg);
}
.w3 {
  background-image: url(../img/locations/wilderless/3.jpg);
}
.w4 {
  background-image: url(../img/locations/wilderless/4.jpg);
}
.w5 {
  background-image: url(../img/locations/wilderless/5.jpg);
}
.w6 {
  background-image: url(../img/locations/wilderless/6.jpg);
}
.global-nav {
  min-height: 40px;
  position: fixed;
}
@media only screen and (max-width: 480px) {
  .feature {
    width: 98%;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8px;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin: 1% 1% 2% 1%; /* margin: 0; */ /* gap: 5px; */ ;
	  min-height:64vh;
    
  }
  .feature-title {
    position: absolute;
    bottom: 20px;
    
    display: block;
    font-size: 1em;
    color: #ffffff;
    width: 100%;
    margin: 0 10%;
    text-shadow: 0 0 3px #612d16;
   
  }
  .feature-description {
    color: #ffffff;
    font-size: 1.5em;
    margin: 40px;
    position: absolute;
    bottom: 10px;
  }
  .feature-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2%;
  }
  .feature-row .feature:nth-of-type(odd) {
    /* margin-top: 1%; */
    /* margin-right: 1%; */
    margin-bottom: 1%;
    /* margin-left: 1%; */
  }
  .feature-row .feature:nth-of-type(even) {
    /* margin-top: 1%; */
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
  }
  .feature h2 {
    font-size: 1.2em;
    margin: 0;
    font-weight: 700;
	  max-width: 80vw;
  }
  .feature p {
    font-size: 1em;
    width: 86%;
  }
}
.feature p {
	display:none;
}