@charset "UTF-8";
/* CSS Document */

body {
	xxxbackground-image: url(assets/img/loadicon.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	
}


/* keyframes for animation;  simple 0 to 360 */
@keyframes 
glower {
 from {
box-shadow: 0px 0px 50px 0px #0FF;
}

to {
box-shadow: 0px 0px 50px 20px #0FF;
}
}
@-webkit-keyframes 
glower {
 from {
-webkit-box-shadow: 0px 0px 50px 0px #0FF;
}

to {
	-webkit-box-shadow: 0px 0px 50px 20px #0FF;
}
}

.glow{
animation: glower .5s infinite alternate;
-webkit-animation: glower .5s infinite alternate;
	/* microsoft ie */
	
	animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}


/* keyframes for animation;  simple 0 to 360 */
@keyframes 
spin {
 from {
transform: rotate(0deg);
}

to {
	transform: rotate(360deg);
}
}
@-webkit-keyframes 
spin {
 from {
-webkit-transform: rotate(0deg);
}

to {
	-webkit-transform: rotate(360deg);
}
}

/* keyframes for animation;  simple 0 to 360 */
@keyframes 
spinBack {
 from {
transform: rotate(360deg);
}

to {
	transform: rotate(0deg);
}
}
@-webkit-keyframes 
spinBack {
 from {
-webkit-transform: rotate(360deg);
}

to {
	-webkit-transform: rotate(0deg);
}
}

/* basic structure for the rays setup */







#raysDemoHolder {
	position: absolute;
width: 256px;
height: 256px;
top: 50%;
right: 50%;
z-index: 9999999;
margin-right: -128px;
margin-top: -128px;
}

#raysLogo {
	width: 300px;
	height: 233px;
	text-indent: -3000px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

#rays {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 256px;
	height: 256px;
	-webkit-animation: spin 3s infinite;
	/* microsoft ie */
	animation-name: spin;
	animation-duration: 3000ms; /* 40 seconds */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	background-image: url(../img/rays.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	display: none;
}

#raysBack {
	background: url(assets/img/raysback.png) 0 0 no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 256px;
	height: 256px;
	-webkit-animation-name: spinBack;
	-webkit-animation-duration: 2000ms; /* 40 seconds */
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	/* microsoft ie */
	animation-name: spinBack;
	animation-duration: 2000ms; /* 40 seconds */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	display: none;
}




 @keyframes 
mistmove {
 from {
background-position: 0px bottom;
}

to {
	background-position: 1024px bottom;
}
}
@-webkit-keyframes 
mistmove {
 from {
background-position: 0px bottom;
}

to {
	background-position: 1024px bottom;
}
}

#mist {
	animation-name: mistmove;
	animation-duration: 40000ms; /* 40 seconds */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: mistmove;
	-webkit-animation-duration: 40000ms; /* 40 seconds */
	-webkit-animation-timing-function: linear;
	position: absolute;
	width: 100%;
	height: 256px;
	z-index: 200;
	bottom: 0px;
	background-image: url(assets/img/mist.png);
	background-repeat: repeat-x;
	background-position: 0px bottom;
	display: none;
	pointer-events: none;
	transform: rotate(0deg);
}

#flipbook {
	position: absolute;
	width: 660px;
	height: 460px;
	transform: translate3d(0px, 0px, 0px);
	left: 50%;
	margin-left: -330px;
	top: 120px;
}
}

#flipbook .turn-page {
	background-color: #ccc;
	background-size: 100% 100%;
}

#apDiv5 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 10000000;
}
