#nim {
	opacity: 1;
	position: absolute;
	width: 640px;
	height: 360px;
	z-index: 24;
	margin-right: -450px;
	top: 50%;
	right: 50%;
	text-align: center;
	xxxdisplay: block;
	transform: scale3d(1.1,1.1,1.1);
	-webkit-transform: scale3d(1.1,1.1,1.1);
	-moz-transform: scale3d(1.1,1.1,1.1);
	transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	/* Firefox 4 */
	-webkit-transition: all .4s ease-in-out;
	/* Safari and Chrome */
	-o-transition: all .4s ease-in-out;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: visible;
	margin-top: -205px;
	-webkit-transition-timing-function: cubic-bezier(0.590,0.015,0.030,1);
	/* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.590,0.015,0.030,1.610);
	-moz-transition-timing-function: cubic-bezier(0.590,0.015,0.030,1.610);
	-ms-transition-timing-function: cubic-bezier(0.590,0.015,0.030,1.610);
	-o-transition-timing-function: cubic-bezier(0.590,0.015,0.030,1.610);
	transition-timing-function: cubic-bezier(0.590,0.015,0.030,1.610);
	/* custom */
	pointer-events: none
}

.speedVerySlow {
	transition:all 6s ease-in-out;
	-moz-transition:all 6s ease-in-out;
/* Firefox 4 */
	-webkit-transition:all 6s ease-in-out;
/* Safari and Chrome */
	-o-transition:all 6s ease-in-out;
/* Opera */
	-webkit-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1);
/* older webkit */
	-webkit-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610);
	-moz-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610);
	-ms-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610);
	-o-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610);
	transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610)
/* custom */
}

.spinnerPointer {
	background-image:url(../img/spinnerpointer.png);
	background-repeat:no-repeat;
	background-position:center top;
	display:block;
	position:absolute;
	height:26px;
	width:19px;
	left:156px;
	top:82px;
	z-index:512
}

.speedSlow {
	transition:all 4s ease-in-out;
	-moz-transition:all 4s ease-in-out;
/* Firefox 4 */
	-webkit-transition:all 4s ease-in-out;
/* Safari and Chrome */
	-o-transition:all 4s ease-in-out;
/* Opera */
	-webkit-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1);
/* older webkit */
	-webkit-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610);
	-moz-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610);
	-ms-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610);
	-o-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610);
	transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610)
/* custom */
}

.speedMedium {
	transition:all 2s ease-in-out;
	-moz-transition:all 2s ease-in-out;
/* Firefox 4 */
	-webkit-transition:all 2s ease-in-out;
/* Safari and Chrome */
	-o-transition:all 2s ease-in-out;
/* Opera */
	-webkit-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1);
/* older webkit */
	-webkit-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610);
	-moz-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610);
	-ms-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610);
	-o-transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610);
	transition-timing-function:cubic-bezier(0.590,0.015,0.030,1.610)
/* custom */
}

.spinTopLeft {
	transform-origin:0 0;
	-ms-transform-origin:0 0;
/* IE 9 */
	-webkit-transform-origin:0 0;
/* Safari and Chrome */
	-moz-transform-origin:0 0;
/* Firefox */
	-o-transform-origin:0 0
/* Opera */
}

.v1l5 {
	transform:rotate(45deg) scale(0);
	-ms-transform:rotate(45deg) scale(0);
/* IE 9 */
	-moz-transform:rotate(45deg) scale(0);
/* Firefox */
	-webkit-transform:rotate(45deg) scale(0);
/* Safari and Chrome */
	-o-transform:rotate(45deg) scale(0);
/* Opera */
	position:absolute;
	width:39px;
	height:39px;
	z-index:2;
	background-image:url(../../assets/img/vine01leaf01.png);
	background-repeat:no-repeat;
	background-position:left top;
	left:23px;
	top:160px
}

#v1 {
	left:308px;
	top:184px;
	transform:rotate(-87deg) scale(1);
	-ms-transform:rotate(-87deg) scale(1);
/* IE 9 */
	-moz-transform:rotate(-87deg) scale(1);
/* Firefox */
	-webkit-transform:rotate(-87deg) scale(1);
/* Safari and Chrome */
	-o-transform:rotate(-87deg) scale(1);
/* Opera */
	position:absolute
/* [disabled]background-color: #F00; */
}

#v2 {
	left:136px;
	top:124px;
	transform:rotate(87deg) scale(1);
	-ms-transform:rotate(87deg) scale(1);
/* IE 9 */
	-moz-transform:rotate(87deg) scale(1);
/* Firefox */
	-webkit-transform:rotate(87deg) scale(1);
/* Safari and Chrome */
	-o-transform:rotate(87deg) scale(1);
/* Opera */
	position:absolute
}

#v3 {
	left:288px;
	top:137px;
	transform:rotate(-87deg) scaleX(-1);
	-ms-transform:rotate(-87deg) scaleX(-1);
/* IE 9 */
	-moz-transform:rotate(-87deg) scaleX(-1);
/* Firefox */
	-webkit-transform:rotate(-87deg) scaleX(-1);
/* Safari and Chrome */
	-o-transform:rotate(-87deg) scaleX(-1);
/* Opera */
	position:absolute
/* [disabled]background-color: #F00; */
}

#v4 {
	left:76px;
	top:145px;
	transform:rotate(87deg) scaleX(-1);
	-ms-transform:rotate(87deg) scaleX(-1);
/* IE 9 */
	-moz-transform:rotate(87deg) scaleX(-1);
/* Firefox */
	-webkit-transform:rotate(87deg) scaleX(-1);
/* Safari and Chrome */
	-o-transform:rotate(87deg) scaleX(-1);
/* Opera */
	position:absolute
}

#v3b {
	left:336px;
	top:85px;
	transform:rotate(-117deg) scaleX(-1);
	-ms-transform:rotate(-117deg) scaleX(-1);
/* IE 9 */
	-moz-transform:rotate(-117deg) scaleX(-1);
/* Firefox */
	-webkit-transform:rotate(-117deg) scaleX(-1);
/* Safari and Chrome */
	-o-transform:rotate(-117deg) scaleX(-1);
/* Opera */
	position:absolute
/* [disabled]background-color: #0F0; */
}

#v4b {
	left:249px;
	top:196px;
	transform:rotate(47deg) scaleX(-1);
	-ms-transform:rotate(47deg) scaleX(-1);
/* IE 9 */
	-moz-transform:rotate(47deg) scaleX(-1);
/* Firefox */
	-webkit-transform:rotate(47deg) scaleX(-1);
/* Safari and Chrome */
	-o-transform:rotate(47deg) scaleX(-1);
/* Opera */
	position:absolute
/* [disabled]background-color: #F00; */
}

#v4c {
	left:242px;
	top:161px;
	transform:rotate(0deg) scaleX(1);
	-ms-transform:rotate(0deg) scaleX(1);
/* IE 9 */
	-moz-transform:rotate(0deg) scaleX(1);
/* Firefox */
	-webkit-transform:rotate(0deg) scaleX(1);
/* Safari and Chrome */
	-o-transform:rotate(0deg) scaleX(1);
/* Opera */
	position:absolute
/* [disabled]background-color: #F00; */
}

.vine01 {
	transform:rotate(-87deg);
	-ms-transform:rotate(-87deg);
/* IE 9 */
	-moz-transform:rotate(-87deg);
/* Firefox */
	-webkit-transform:rotate(-87deg);
/* Safari and Chrome */
	-o-transform:rotate(-87deg);
/* Opera */
	height:10px;
	z-index:1;
	background-image:url(../img/vine02.png);
	background-repeat:no-repeat;
	background-position:center top;
	overflow:visible;
	display:block;
	width:104px
}

.v1l1 {
	position:absolute;
	width:35px;
	height:35px;
	z-index:1;
	background-image:url(../../assets/img/vine01leaf01.png);
	background-repeat:no-repeat;
	background-position:left top;
	left:71px;
	top:44px;
	transform:scale(0);
	-ms-transform:scale(0);
	-moz-transform:scale(0);
	-webkit-transform:scale(0);
	-o-transform:scale(0)
}

.v1l2 {
	transform:rotate(87deg) scale(0);
	-ms-transform:rotate(87deg) scale(0);
/* IE 9 */
	-moz-transform:rotate(87deg) scale(0);
/* Firefox */
	-webkit-transform:rotate(87deg) scale(0);
/* Safari and Chrome */
	-o-transform:rotate(87deg) scale(0);
/* Opera */
	position:absolute;
	width:39px;
	height:39px;
	z-index:2;
	background-image:url(../img/vine01leaf2.png);
	background-repeat:no-repeat;
	background-position:left top;
	left:65px;
	top:66px
}

.v1l3 {
	position:absolute;
	width:39px;
	height:39px;
	z-index:2;
	background-image:url(../img/vine01leaf2.png);
	background-repeat:no-repeat;
	background-position:left top;
	left:55px;
	top:89px;
	transform:rotate(87deg) scale(0);
	-ms-transform:rotate(87deg) scale(0);
/* IE 9 */
	-moz-transform:rotate(87deg) scale(0);
/* Firefox */
	-webkit-transform:rotate(87deg) scale(0);
/* Safari and Chrome */
	-o-transform:rotate(87deg) scale(0)
/* Opera */
}

.v1l4 {
	transform:rotate(87deg) scale(0);
	-ms-transform:rotate(87deg) scale(0);
/* IE 9 */
	-moz-transform:rotate(87deg) scale(0);
/* Firefox */
	-webkit-transform:rotate(87deg) scale(0);
/* Safari and Chrome */
	-o-transform:rotate(87deg) scale(0);
/* Opera */
	position:absolute;
	width:39px;
	height:39px;
	z-index:2;
	background-image:url(../img/vine01leaf2.png);
	background-repeat:no-repeat;
	background-position:left top;
	left:32px;
	top:126px
}

.startlogo {
	display:none;
	
}
.centerLogo{
	pointer-events:none;
}
